body{
    background-color: rgb(220, 220, 220);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 195px;
    height: 180px;
    border-radius: 3px;
    background-color: rgb(50, 50, 50);
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 16px 16px 0 rgb(0,0,0);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgb(0,0,0);
}

/* Add some padding inside the card container */
.container1 {
    padding: 0px 6px 0px 6px;
    width: 195px;
    height: 32px;
    overflow: hidden;
}
.container1 h5{
    margin: 3px 0px 0px 0px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    color: rgb(240, 240, 240);
}

.container1 a:hover{
    color: rgb(240, 240, 240);
}

.container2{
    padding: 0px 6px 0px 6px;
    width: 195px; 
    color: rgb(220, 220, 220);
}

.container2 h5{
    margin: 0px;
    padding: 0px;
}

.container2 h6{
    margin: 3px 0px 0px 0px;
    padding: 0px;
}

#cardImg{
    height: 110px;
    width: 195px;
    border-radius: 3px 3px 0 0;

}

.leftNavbar{
    z-index: 1;
    padding: 10px 0px 0px 0px;
    width: 216px;
    left: 0px;
    top: 51px;
    position: fixed;
    height: 100%;
    background-color: rgb(25, 25, 25);
    border-top: 1px solid rgb(200, 200, 200);
}

.leftNavbar a{
    color: rgb(210, 210, 210);
}

.leftNavbar a:hover{
    color: rgb(50, 50, 50);
}

/*.leftNavbar a:active{
    color: rgb(50, 50, 50);
}*/

.leftNavbar li{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(100, 100, 100);
}

/*.leftNavbar li:active{
    color: rgb(50, 50, 50);
}*/

/*class used in header*/
.pageContent{
    margin-top: 51px;
}

#homepage{
    background-color: rgb(25, 25, 25);
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200); 
}

#homepageLeftMenu{  
    position: fixed;
    height: 100%;
    color: white;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200); 
}

